header{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding: 20px;
    border-bottom: solid 4px #f9f9f9;
}

header a{
    text-decoration: none;
    font-weight: bold;
    color:black;
    margin: 8px;
}

.connexion{
    background-color: white;
    color: #2d96c8;
    border-radius: 20px;
    padding: 7px 4px 7px 4px;
    margin: 8px;
    width: 130px;
    border: solid 2px #2d96c8;
}

.inscription{
    background-color: #2d96c8;
    color: white;
    border-radius: 20px;
    padding: 7px 4px 7px 4px;
    margin: 8px;
    width: 130px;
    border: solid 2px #2d96c8;
}

header img{
    width: 130px;}

.abonnement{
    display: flex;
}

.abonnement img{
    width:50%
}

.abonnement h2{
    font-weight:bold;
}

.abonnement h1{
    color: #ef5466;
}

.premium{
    background-color: #ef5466;
    color: white;
    border-radius: 20px;
    padding: 7px 4px 7px 4px;
    margin: 8px;
    width: 200px;
    height: 3em;
    border: solid 2px #ef5466;
    font-weight:bold;
}

.gratuit{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 7px 4px 7px 4px;
    margin: 8px;
    width: 200px;
    height: 3em;
    border: solid 2px black;
    font-weight:bold;
}

.accesdirects{
    display: flex;
    flex-direction: column;
}